<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag(@product.thumbnailImageUrl, alt: @product.productName, class: "productImage") %>
      <h1><%= @product.brandName %></h1>
      <h2><%= @product.productName %></h2>
    </section>
  </aside>
</div>
<div class="row-fluid">
  <div class="span4">4</div>
  <div class="span4">4</div>
  <div class="span4">4</div>
</div>
